


#slider {
    position: relative;
    
    
    clear:both;
   background: #000;
   
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 600px;
   width: 100%;
   margin: 40px auto 0;
   overflow: visible;
   
}
#mask {
   overflow: hidden;
   height: 600px;
}
#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   width: 100%;  /* Width Image */
   height: 600px; /* Height Image */
   position: absolute;
   top: -385px; /* Original Position - Outside of the Slider */
   list-style: none;
}
.slideimg{
   height: 600px;
   width: 100%;
}


#slider .tooltip h1 {
   color: #ffffff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

#slider li.firstanimation {
	-moz-animation:cycle 25s linear infinite;	
	-webkit-animation:cycle 25s linear infinite;		
}
#slider li.secondanimation {
	-moz-animation:cycletwo 25s linear infinite;
	-webkit-animation:cycletwo 25s linear infinite;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 25s linear infinite;
	-webkit-animation:cyclethree 25s linear infinite;		
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 25s linear infinite;
	-webkit-animation:cyclefour 25s linear infinite;		
}


@-webkit-keyframes cycle {
   0%  { right: 0px; top: 100%;} /* When you start the slide, the first image is already visi0pxble */
   4%  { right: 0px; top: 100%;} /* Original Position */
   22% { right: 0px; top: 100%; opacity:1; z-index:0; } /* From 4% to 22 % = for 3 seconds the image is visible */
   26% { right: 100%; top: 100%; opacity: 0; z-index: 0; } /* From 20% to 24% = for 1 second exit image */
   27% { right: -385px; top: 100%; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { right: -385px; top: 100%; opacity: 0; z-index: 0; }
   
   100%{ right: 0px; top: 100%; opacity: 1; }
}

@-webkit-keyframes cycletwo {
   0%  { right: -385px; top: 100%; opacity: 0; } /* Original Position */
   22% { right: -385px; top: 100%; opacity: 0; }/* Starts moving after 20% to this position */
   26% { right: 0px; top: 100%; opacity: 1; }
   31% { right: 0px; top: 100%; opacity: 1; }  /* From 25% to 29% = for 1 second enter image*/
   47% { right: 0px; top: 100%; opacity: 1; z-index: 0; }   /* From 29% to 45 % = for 3 seconds the image is visible */
   51% { right: 100%; top: 100%; opacity: 0; z-index: 0; } /* From 45% to 49% = for 1 second exit image */
   52% { right: -385px; top: 100%; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ right: -385px; top: 100%; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclethree {
   0%  { right: -385px; top: 100%; opacity: 0; }
   47% { right: -385px; top: 100%; opacity: 0; }
   51% { right: 0px; top: 100%; opacity: 1; }
   56% { right: 0px; top: 100%; opacity: 1; }/* From 50% to 54% = for 1 second enter image*/
   72% { right: 0px; top: 100%; opacity: 1; z-index: 0; }/* From 56% to 72 % = for 3 seconds the image is visible */
   76% { right: 100%; top: 100%; opacity: 0; z-index: 0; }/* From 72% to 76 % = for 1 second exit image */
   77% { right: -385px; top: 100%; opacity: 0; z-index: -1; }
   100%{ right: -385px; top: 100%; opacity: 0; z-index: -1; }
}

@-webkit-keyframes cyclefour {
   0%  { right: -385px; top: 100%; opacity: 0; }
   72% { right: -385px; top: 100%; opacity: 0; }
   76% { right: 0px; top: 100%; opacity: 1; }
   81% { right: 0px; top: 100%; opacity: 1; }
   96% { right: 0px; top: 100%; opacity: 1; z-index: 0; }
   100%{ right: 100%; top: 100%; opacity: 0; z-index: -1; }
}
@-moz-keyframes cycle {
   0%  { right: 0px; top: 100%;} /* When you start the slide, the first image is already visible */
   4%  { right: 0px; top: 100%;} /* Original Position */
   22% { right: 0px; top: 100%; opacity:1; z-index:0; } /* From 4% to 20 % = for 3 seconds the image is visible */
   26% { right: 100%; top: 100%; opacity: 0; z-index: 0; } /* From 20% to 24% = for 1 second exit image */
   92% { right: -385px; top: 100%; opacity: 0; z-index: 0; }
   
   100%{ right: 0px; top: 100%; opacity: 1; }
}

@-moz-keyframes cycletwo {
   0%  { right: -385px; top: 100%; opacity: 0; } /* Original Position */
   22% { right: -385px; top: 100%; opacity: 0; }/* Starts moving after 20% to this position */
   26% { right: 0px; top: 100%; opacity: 1; }
   47% { right: 0px; top: 100%; opacity: 1; z-index: 0; }   /* From 29% to 45 % = for 3 seconds the image is visible */
   51% { right: 100%; top: 100%; opacity: 0; z-index: 0; } /* From 45% to 49% = for 1 second exit image */
   52% { right: -385px; top: 100%; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ right: -385px; top: 100%; opacity: 0; z-index: -1; }
}

@-moz-keyframes cyclethree {
   0%  { right: -385px; top: 100%; opacity: 0; }
   47% { right: -385px; top: 100%; opacity: 0; }
   51% { right: 0px; top: 100%; opacity: 1; }
   72% { right: 0px; top: 100%; opacity: 1; z-index: 0; }/* From 56% to 72 % = for 3 seconds the image is visible */
   76% { right: 100%; top: 100%; opacity: 0; z-index: 0; }/* From 72% to 76 % = for 1 second exit image */
   77% { right: -385px; top: 100%; opacity: 0; z-index: -1; }
   100%{ right: -385px; top: 100%; opacity: 0; z-index: -1; }
}

@-moz-keyframes cyclefour {
   0%  { right: -385px; top: 100%; opacity: 0; }
   72% { right: -385px; top: 100%; opacity: 0; }
   76% { right: 0px; top: 100%; opacity: 1; }
   81% { right: 0px; top: 100%; opacity: 1; }
   96% { right: 0px; top: 100%; opacity: 1; z-index: 0; }
   100%{ rightd: 100%; top: 100%; opacity: 0; z-index: -1; }
}
